/* Some changes to bootstrap's styles */

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

h1, h2, h3 {
  margin-top: 10px;
}

.panel-body {
  padding: 2px 10px 10px;
}

body {
  position: relative;
}

a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none !important;
}

.row {
  margin: 0px 0px 0px -15px;
}



/* Header */
.header {
  width: 100%;
  padding: 10px;

  background: #4e5d6d;
  color: #FFF;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.header a {
  color: inherit;
}

.header a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.header .sitename {
  font-size: 26px;
  margin: 4px 0 -3px 8px;
  display: inline-block;
}

.header .sitename .icon {
  font-size: 20px;
}

.right-link {
  display: inline-block;
  float: right;
  margin: 3px 3px;
}

.nav-box {
  font-size: 14px;
  margin: -2px 5px;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 11px;
  border-radius: 4px;
}

.nav-box .glyphicon {
  top: 1px;
  font-size: 12px;
}

.nav-box:hover .glyphicon {
  color: #5277ff;
}


#error-bar {
  margin-top: 10px;
  /* Hidden by default*/
  display: none;
}


/*------------------
--------------------
------------------*/
html{

background: url(../img/background_2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

body{
  background-color: none;
  background: none;
}

header{
  background-color: none;
  background: none;
}

.container{
  background-color: none;
  background: none;
  margin-top: 20px;
}

h1, h2, h3, p, pre, blockquote, a, a:hover{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: auto;
  color: #fff;
}


h1 {
  font-size: 4em;

}

h3 {
  font-size: 1.8em;

}

p {
  font-size: 0.8em;

}

blockquote {
  font-size: 1.2em;

}

pre {
  font-size: 1.2em;

}

a {
  font-size: 0.8em;
  text-decoration: underline;

}

a:hover {
  color: #ff6bd3;
}

.knappar{
  width:600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 25%; 
  color: #fff;
}

.btn {
  font-family: Arial;
  background-color: Transparent;
  background-repeat:no-repeat;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #fff;
  text-decoration: none;
}


.col-md-8{
  text-align: left;
  min-width: 600px;
  min-height: 400px;
  height: auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(255,255,255,0.5);
  padding: 10px;
}


@media all and (max-width: 768px){

.col-md-8{
  text-align: left;
  min-width: auto;
  min-height: auto;
  height: auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(255,255,255,0.5);
}

.btn {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background-color: transparent;
  background-repeat:no-repeat;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  text-decoration: none;
  color: #fff;
}

.btn:hover, a .btn:hover {
  background: #fff;
  color: #333;
  text-decoration: none;
}

h1 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
p {
  font-size: 1em;
}
blockquote {
  font-size: 1em;
}
pre {
  font-size: 1em;
}

a {
  font-size: 1em;
}

a:hover {
  font-size: 1em;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

h1 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
p {
  font-size: 1em;
}
blockquote {
  font-size: 1em;
}
pre {
  font-size: 1em;
}

a {
  font-size: 1em;
}

a:hover {
  font-size: 1em;
}}

/* Submissions page */

#submissions-wrapper {
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

#submissions-wrapper h1 {
    color: #000;
    padding: 25px 0px 0 25px;
}

.submissions {
    list-style: none;
    padding: 25px;
}

.submissions li {
    border-radius: 10px;
}
.submissions li .photo {
    position: relative;
}

.submissions li .photo img {
    width: 100%;
}

.track-details {
    position: absolute;
    text-align: right;
    bottom: 30px;
    right: 0px;
}

.track-name {
    font-size: 28px;
    background: rgba(0, 0, 0, 0.81);
    padding: 8px 15px;
    color: #FFF;
    border-radius: 5px 0 0 5px;
}
.track-artist {
    font-size: 22px;
    background: rgba(63, 63, 63, 1);
    padding: 4px 15px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 0px 5px;
}
.track-artist .glyphicon {
    font-size: 15px;
}

.player-controls {
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.player-controls .glyphicon {
    color: rgba(255, 255, 255, 0.9);
    font-size: 45px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    cursor: pointer;
}
.player-controls .glyphicon:hover {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.play-on-spotify {
    display: block;
    text-decoration: none;
    opacity: 0.8;
    margin-top: 10px;
}
.play-on-spotify:hover {
    opacity: 1;
    color: #fff;
}

.track-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 80%); /* W3C */
}