<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beautiful world</title>
        <meta name="description" content="Beautiful world">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <link rel="stylesheet" href="/static/css/main.css">
        {% block css %}
        {% endblock %}

        <style>
    .link {display: none}
    .uploading div {display: none}
    .uploaded div {display: none}
    .uploading p {display: inline}
    .uploaded #link {display: inline}
    em {position: absolute; bottom: 0; right: 0}
</style>

<script>


    function upload(file) {

        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;

        /* It is! */
        document.body.className = "uploading";

        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file



        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "https://api.imgur.com/3/image.json"); // Boooom!
        xhr.onload = function() {
            // Big win!
            document.querySelector("#link").href = JSON.parse(xhr.responseText).data.link;
            document.body.className = "uploaded";
        }
        
        xhr.setRequestHeader('Authorization', 'Client-ID 28aaa2e823b03b1'); // Get your own key http://api.imgur.com/
        
        // Ok, I don't handle the errors. An exercise for the reader.

        /* And now, we send the formdata */
        xhr.send(fd);
        
/*/ / Code from google
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = handleStateChange; // Implemented elsewhere.
xhr.open("GET", chrome.extension.getURL('/config_resources/config.json'), true);
xhr.send();
*/


    }
</script>

    </head>

    <body>
        {% include 'header.html' %}

        <div class="container">

            <div id="error-bar" class="alert alert-danger">
            </div>

            {% block body %}
            {% endblock %}
        </div>
<!-- Bootstrap CSS-->


        

        <!-- Internal JS files -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <script src="/static/js/base.js"></script>

        

        {% block javascript %}
        {% endblock %}

    </body>

</html>