{% extends 'base.html' %}


{% block body %}

<div style="text-align:center; margin-top:60px;">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing consectetur adipisicing</h1>

    <p style="margin-top:80px;">
<p class="link">Uploading...</p>
<a class="link">It's online!!!</a>
    </p>


</div>

<div class="knappar">

<button type="button" class="btn" onclick="document.querySelector('input').click()">Upload your image here!</button>
	<input style="disability: none; width: 0px;" type="file" onchange="upload(this.files[0])">
<button type="button" class="btn" onclick="document.querySelector('input').click()">Watch images from your playlist!</button>

</div>


{% endblock %}
