{% extends 'base.html' %}


{% block body %}

<div style="text-align:center; margin-top:60px;">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing consectetur adipisicing</h1>

    <p style="margin-top:80px;">
Empty...
    </p>


</div>

<div class="knappar">

<input type="file" name="fileToUpload[]" id="fileToUpload" onchange="fileSelected();"/>
<input type="button" class="btn" onclick="uploadFile()" value="Upload your image here!" >
<input type="button" class="btn" value="Watch images from your pictures!">

</div>

<form id="form1">

       
    <input type="file" name="fileToUpload[]" id="fileToUpload" onchange="fileSelected();" />

   
    <input type="button" onclick="uploadFile()" value="Upload" />

    
</form>

{% endblock %}
