{% extends 'base.html' %}


{% block body %}
	<div style="text-align:center; margin-top:20px;" class="front-page">
    	<img src="../static/img/logo.png" alt="" class="logo-img">

<div class="front-p">
<p>Upload your image and what music you are currently listening to, or find out which pictures there are matching your playlist songs.</p>
</div>

</div>

<div class="knappar">

<button type="button" class="btn" onclick="document.querySelector('input').click()" style="margin-right:15px;">Upload your image here</button>
<button type="button" class="btn" onclick="document.querySelector('input').click()">Watch images from your playlist</button>

</div>

</div>
</div>
<div class="jumbotron_2">

	<div class="row">
			<h1>The A-team</h1>
	  <div class="col-xs-6 col-sm-3">

	  	<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/543145_10151549742090925_1815843263_n.jpg?oh=ad301509a96313eed58e24805d485951&oe=54DE15A3&__gda__=1423222380_695f083f53e9e24b25bbb8fac9fa4ead" alt="" class="img-circle">
	  	<h3>Namn Namnsson</h3>
	  	<p>Front-end</p>
	  	<p>HTML5/CSS3/JavaScript</p>
	  </div>
	  <div class="col-xs-6 col-sm-3">
	  	
	  	<img src="https://scontent-a.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10629768_10203687577204184_8195826542978048882_n.jpg?oh=44f25403678f57ae29d8a854c7a8c2e0&oe=551EBBA9" alt="" class="img-circle">
	  	<h3>Namn Namnsson</h3>
	  	<p>Front-end</p>
	  	<p>HTML5/CSS3/JavaScript</p>
	  </div>
	  <div class="col-xs-6 col-sm-3">
	  	
	  	<img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10646930_10152276773517120_5509882895091289894_n.jpg?oh=90b94c956e54beda204ad7b0867c2283&oe=54DB5838" alt="" class="img-circle">
	  	<h3>Namn Namnsson</h3>
	  	<p>Front-end</p>
	  	<p>HTML5/CSS3/JavaScript</p>
	  </div>
	  <div class="col-xs-6 col-sm-3">

	  	<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/181157_10150926321726088_1748537094_n.jpg?oh=236ad93686b3958f096117023f7a18b8&oe=54D7AEB4&__gda__=1427767871_05ce83023ed78955ce8fae69214c0918" alt="" class="img-circle">
	  	<h3>Namn Namnsson</h3>
	  	<p>Front-end</p>
	  	<p>HTML5/CSS3/JavaScript</p>
	  </div>
	</div>



{% endblock %}
