{% extends 'base.html' %}


{% block body %}

<div id="submissions-wrapper">
    <h1>Submissions</h1>
    <h3>Click on an image to get recommendations</h3>

    <button type="button" class="btn btn-submit-right" onclick="window.location.href='/preview/submit.html'" style="margin-right:15px;">
        Upload an image
    </button>

    <ul class="submissions main">
    {% for submission in submissions %}
        {% set track = submission.track%}
        <li class="photo" data-submission-id="{{submission.id}}">
            <div class="track-overlay">
            </div>
            <div class="player-controls">
                <span class="glyphicon glyphicon-play play-button" aria-hidden="true"></span>
                <a class="play-on-spotify" href="{{track.uri}}">
                    On Spotify
                </a>
                <audio src="{{track.preview_url}}" class="track-preview" preload="none"></audio>
            </div>
            <div class="track-details">
                <span class="track-name">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                    {{track.name}}
                </span>
                <br>
                <span class="track-artist">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{track.artist_name}}
                </span>
            </div>
            <img src="/api/submission/{{submission.id}}/photo">

            <div class="photo_panel">
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock %}

{% block javascript %}
    <script src="/static/js/submissions.js"></script>
{% endblock %}
