{% extends 'base.html' %}


{% block body %}

<div style="text-align:center; margin-top:60px;">
	<form>
		<div class="col-md-8 input-group input-group-lg"> 
			<h3>Submit your image and what you are listening to</h3>
				<div class="col-md-6 input-group input-group-lg">
					<img src="" alt="" class="img-rounded">
				</div>
				<div class="col-md-6 input-group input-group-lg">
					<p><input class="form-control" placeholder="What do you want to call you picture?"></p>	
					<p><input class="form-control" placeholder="What song?"></p>
					<p><input class="form-control" placeholder="Which artist?"></p>
				</div>
		</div>
	</form>



{% endblock %}
